In [6]:
import numpy as np;import pandas as pd;import datetime
wind_stats=pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data',
                      sep="\s+",parse_dates=[[0,1,2]])
wind_stats

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

Las fechas proporcionadas no son consitentes con el mundo real. Se debe modificar dichas fechas haciendo uso del método apply()

In [7]:
def modificar_anio(x):
    if x.year>1989:
        anio=x.year-100
    else:
        anio=x.year
    return pd.to_datetime(datetime.date(anio,x.month,x.day))

wind_stats['Yr_Mo_Dy']=wind_stats['Yr_Mo_Dy'].apply(modificar_anio)

In [8]:
wind_stats.set_index('Yr_Mo_Dy',inplace=True)

Nos gustaría descubrir cuántos valores nulos hay por cada locación.

In [11]:
wind_stats.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [16]:
wind_stats.notnull().sum().sum()  ##Numero de muestras no nulas recogidas durante el periodo de vigilancia para todas las 
#locaciones.

78857

Nos gustaría calcular la media,maximo,mínimo y la desviación éstandar de la velocidad del viento 
para cada una de las locaciones durante todo el periodo de registro.

In [38]:
loc_stats=pd.DataFrame()
loc_stats[['Media','Max','Min','std']]=wind_stats.aggregate(['mean','max','min','std'],axis=0).T
loc_stats

         Media    Max   Min       std
RPT  12.362987  35.80  0.67  5.618413
VAL  10.644314  33.37  0.21  5.267356
ROS  11.660526  33.84  1.50  5.008450
KIL   6.306468  28.46  0.00  3.605811
SHA  10.455834  37.54  0.13  4.936125
BIR   7.092254  26.16  0.00  3.968683
DUB   9.797343  30.37  0.00  4.977555
CLA   8.495053  31.08  0.00  4.499449
MUL   8.493590  25.88  0.00  4.166872
CLO   8.707332  28.21  0.04  4.503954
BEL  13.121007  42.38  0.13  5.835037
MAL  15.599079  42.54  0.67  6.699794

In [46]:
wind_stats.loc[wind_stats.index.month==1].mean()  ##Media de los vientos registrados  en los meses de enero para todas las locaciones

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64